/*  reset styles */
html{ width:100%; height:100%; }
body{ width:100%; height:100%; }
html, body{  margin:0; padding:0; scroll-behavior: smooth;  }
body *{ margin:0; padding:0; box-sizing:border-box; }
a{ text-decoration:none; }
ol, ul{ list-style-type:none; }

.categoriesBoot{
    align-items: center;
    /* align-items: flex-end; */
    justify-content: center;
    height: 85vh;
    background-image: url("../images/admin.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.categoryBoot{
    margin: 1%;
    font-size: 1.2em;
    color: brown;
}
.categoryBoot a{
    color: brown;
    text-decoration: none;
    transition: all .2s;
}
.categoryBoot a:hover{
font-weight: bold;
text-shadow: 4px 2px 4px rgb(230, 186, 146);
}

.logout{
    background-color: rgba(250, 255, 240, 0);
    position: absolute;
    margin: 0 2vw 0 85vw;
}
.menu-hover:hover{
    box-shadow:0 0 10px rgb(79, 106, 112);
    cursor:pointer;
    border-radius:  3%;
}




.bg-see{

    background-color: rgba(255, 255, 255, 0.61);
}

.border1{
    border:3px solid white;
}


.border2{
    border:3px solid gray;
}


@media(max-width: 1400px){
    .categoriesBoot{
        /* height: 100%; */
        height: auto;

    }
}

